wandb/debug-internal.log
wandb/run-20220602_171318-1nmpfcnp/files/wandb-metadata.json
wandb/run-20220602_171318-1nmpfcnp/files/wandb-summary.json
wandb/run-20220602_171318-1nmpfcnp/logs/debug-internal.log
wandb/run-20220602_171318-1nmpfcnp/logs/debug.log
wandb/debug.log
wandb/latest-run
wandb/run-20220602_171318-1nmpfcnp/run-1nmpfcnp.wandb
wandb/run-20220602_171318-1nmpfcnp/files/config.yaml
wandb/run-20220602_171318-1nmpfcnp/files/output.log
wandb/run-20220602_171318-1nmpfcnp/files/requirements.txt
